@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Add book";
}

@using book_manager_app.Models;
@model Book

<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfVolumes">Number of Volumes</label>
        <input type="number" asp-for="NumberOfVolumes" class="form-control" />
        <span asp-validation-for="NumberOfVolumes" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
</form>