@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Result";
}

@model List<book_manager_app.Models.Book>

@foreach (book_manager_app.Models.Book book in Model)
{
    <partial name="_Book" model=book />
}

<br/>

<a class="btn btn-primary" href="/Book/Add" role="button">Previous page</a>