@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Conversion";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using temperature_converter_app.Models
@model Conversion

<div class="container-fluid bg-light p-5 container-sm">
    <h1 class="mb-3">Page de conversion</h1>
    <div class="lead">
        <form method="POST" asp-action="Convert">
            <div class="form-group row form-check">
                <div class="col-5 form-check-inline">
                    <input class="form-check-input"
                            type="radio"
                            value="C"
                            asp-for="OutputMetric" />
                    <label asp-for="OutputMetric" class="form-check-label">Celsius</label>
                </div>
                <div class="col-6 form-check-inline">
                    <input class="form-check-input"
                            type="radio"
                            value="F"
                            asp-for="OutputMetric" />
                    <label asp-for="OutputMetric" class="form-check-label">Fahrenheit</label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <span asp-validation-for="OutputMetric" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col">
                    <input type="number"
                            class="form-control"
                            placeholder="Entrer une valeur ..."
                            asp-for="InputValue" />
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col">
                    <button type="submit" class="btn btn-success btn-block w-100">
                        Convertir
                    </button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <span asp-validation-for="InputValue" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>