@model seance_04_exercice_01.Models.Book

<div class="card mb-2">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <img width="100" src="~/img/@Model.ImageCover">
                    </div>
                    <div class="col">
                        <h3>Informations : </h3>
                        <b><i class="bi bi-book-fill"></i> Titre :</b> @Model.Title <br />
                        <b><i class="bi bi-person-fill"></i> Auteur :</b> @Model.Author <br />
                        <b><i class="bi bi-pencil-fill"></i> Éditeur :</b> @Model.Editor
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>