@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Conversion";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using temperature_converter_ef_core_app.Models;
@model ConvertOrAddUser

<div class="container-fluid bg-light p-5 container-sm">
    <h1 class="mb-3">Page de conversion</h1>
    <div class="lead">

        <form method="POST" asp-action="History">
            <div class="form-group row">
                <div class="col">
                    <select asp-for="UserId" class="custom-select float-right">
                        <option value="">Choisir ...</option>
                        @foreach (User user in Model.Users)
                        {
                            <option value="@user.UserId">@user.Name</option>
                        }
                    </select>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-danger btn-block sm-3">
                        Historique
                    </button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>
        </form>

        <hr />

        <form method="POST" asp-action="Convert">

            <div class="form-group row">
                <div class="col">
                    <label class="col-form-label">Identifiant :</label>
                    <select asp-for="Conversion.UserId" class="custom-select float-right">
                        <option value="">Choisir ...</option>
                        @foreach (User user in Model.Users)
                        {
                            <option value="@user.UserId">@user.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <span asp-validation-for="Conversion.UserId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row form-check">
                <div class="col-5 form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           value="C"
                           asp-for="Conversion.OutputMetric" />
                    <label asp-for="Conversion.OutputMetric" class="form-check-label">Celsius</label>
                </div>
                <div class="col-6 form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           value="F"
                           asp-for="Conversion.OutputMetric" />
                    <label asp-for="Conversion.OutputMetric" class="form-check-label">Fahrenheit</label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <span asp-validation-for="Conversion.OutputMetric" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <input type="number"
                           class="form-control"
                           placeholder="Entrer une valeur ..."
                           asp-for="Conversion.InputValue" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-block sm-3">
                        Convertir
                    </button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <span asp-validation-for="Conversion.InputValue" class="text-danger"></span>
                </div>
            </div>
        </form>

        <hr />

        <form method="POST" asp-action="AddUser">
            <div class="form-group row">
                <div class="col">
                    <input type="text"
                           class="form-control"
                           placeholder="Entrer Identifiant ..."
                           asp-for="User.Name" />
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block sm-3">
                        Ajouter
                    </button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>